button{
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 3rem;
    margin: 0.3rem;
}

button:hover{
    cursor: pointer;
}

.zeroButton{
    width: 10.6rem;
    text-align: start;
    padding-left: 1.8rem;
    background-color: #505050;
    color: #ffffff;
}

.wrapper{
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 3rem;
}

.rightColumn{
    background-color: #FF9500;
    color: #ffffff;
}

.coreElements{
    background-color: #505050;
    color: #ffffff;
}

.topLine{
    background-color: #A5A5A5;
    color: #000000;
}

.result{
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    margin: 0 1.75rem 0 0;
    font-size: 4rem;
}

@media screen and (min-width: 414px) and (max-width: 422px) {
    button{
        width: 4.8rem;
        height: 4.8rem;
    }
    
    .zeroButton {
        width: 10.2rem;
    }

    .result {
        margin: 0 1.6rem 0 0;
    }
}